@media (min-width: 1200px) {
  .block-4 {
    padding-bottom: 65px;
    max-width: 715px;
    min-width: 714px;
    margin: 0 auto;
    &__headline {
      font-size: 10px;
      line-height: 16px;
    }
    &__text {
      line-height: 15px;
      font-size: 10px;
    }
    &__title{
        font-size: 30px;
        width: 265px;
    }
  }
  .block-5 {
    padding-bottom: 65px;
    max-width: 715px;
    min-width: 714px;
    margin: 0 auto;
  }
  .block-6 {
    padding-bottom: 65px;
    max-width: 715px;
    min-width: 714px;
    margin: 0 auto;
  }
}
