@font-face{
    font-family: 'Arcom Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(fonts/acrom400.otf);
}

@font-face{
    font-family: 'Arcom Medium', sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url(fonts/acrom600.otf);
}

@font-face{
    font-family: 'Arcom Bold', sans-serif;
    font-style: normal;
    font-weight: 800;
    src: url(fonts/acrom800.otf);
}

@font-face{
    font-family: 'Arcom Extrabold', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url(fonts/acrom900.otf);
}