$mainFont: 'Arcom', sans-serif;
$mainBgColor: #161d29;
$decorColor: #ff6b08;
$secondBgColor: #16ebfe;
$mainHeadlineColor: #000;
$mainTextColor: #3f4144;
$headlineBgColor: #000;
$buttonTextColor: #fff;
$mainFontSize: 14px;
$mainLh: 20px;
$headlineSize: 18px;
$headlineLh: 24px;