$mainFont: 'Arcom', sans-serif;
$mainBgColor: #161d29;
$decorColor: #ff6b08;
$secondBgColor: #16ebfe;
$headlineBgColor: #000;
$mainFontSize: 14px;
$mainLh: 20px;
$headlineSize: 18px;
$headlineLh: 24px;