/* ====================================================== */

/* Alex/12-14 */

.container_12-14 {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 18px;
}

/* Block 12 */

.section-12 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 16px 0 26px 0;

    &__title {
        font-weight: 900;
        font-size: $headlineSize;
        line-height: $headlineLh;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 23px 0;
        color: $mainHeadlineColor;
    }

    &__description {
        width: 292px;
        position: relative;
        padding-left: 42px;
        font-weight: 600;
        color: $mainHeadlineColor;
        margin: 0 0 34px 0;
    
        //custom list-marker
        &::before {
            display: inline-block;
            position: absolute;
            top: 7px;
            left: 18px;
            content: '';
            width: 16px;
            height: 4px;
            background-color: $mainBgColor;
        }
    
        &--bg {
            background-color: $secondBgColor;
        }
    }

    &__img {
        margin-bottom: 32px;
    }

    &__CV {
        width: 292px;
        list-style: none;
        padding-left: 20px;
        margin: 0;
    
        &-item {
            position: relative;
            margin-bottom: 24px;
    
            &::before {
                display: block;
                position: absolute;
                top: 4px;
                left: -20px;
                content: '';
                width: 7px;
                height: 7px;
                background-color: $mainBgColor;
            }
    
            &:nth-child(2) .section-12__CV-achievement{
                letter-spacing: -0.05em;
            }
        }
    }

    &__CV-achievement {
        font-weight: 900;
        font-size: $mainFontSize;
        text-transform: uppercase;
        color: $mainHeadlineColor;
        margin: 0 0 2px 0;
    
        &--description {
            font-weight: 400;
            margin: 0;
        }
    }
}

/* ====================================================== */

/* Block 13 */

.section-13 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 30px 0 34px 0;

    &__title {
        width: 218px;
        font-weight: 900;
        font-size: $headlineSize;
        line-height: $headlineLh;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto 23px auto;
        color: $mainHeadlineColor;
    }

    &__sub-title {
        width: 218px;
    }

    &__description {
        position: relative;
        width: 260px;
        padding-left: 42px;
        font-weight: 600;
        color: $mainHeadlineColor;
        margin: 0 auto 34px auto;
    
        &::before {
            display: inline-block;
            position: absolute;
            top: 7px;
            left: 18px;
            content: '';
            width: 16px;
            height: 4px;
            background-color: $mainBgColor;
        }
    }

    &__sub-title {
        font-weight: 900;
        font-size: $mainFontSize;
        text-transform: uppercase;
        color: $mainHeadlineColor;
        margin: 34px auto 23px auto;
    }

    &__sub-description {
        width: 224px;
        margin: 0 auto;
    }
}

/* ====================================================== */

/* Block 14 */

.section-14 {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px 0 20px 0;

    &__img-wrapper {
        position: relative;
        margin-bottom: 10px;
        width: 359px;
        height: 292px;
    
        &--text {
            position: absolute;
            top: 14px;
            right: 22px;
            font-weight: 900;
            font-size: 226px;
            line-height: 1;
            color: #f7f7f7;
            transform: rotate(90deg);
        }
    }

    &__img {
        position: absolute;
        z-index: 1;
    }

    &__accent {
        position: relative;
        width: 334px;
        font-weight: 600;
        letter-spacing: -0.05em;
        color: $decorColor;
        margin-bottom: 20px;
    
        &::before {
            display: block;
            position: absolute;
            left: -22px;
            content: '/';
            font-weight: 900;
            font-size: 18px;
            color: $mainHeadlineColor;
        }
    }

    &__title {
        width: 292px;
        font-weight: 900;
        font-size: $headlineSize;
        line-height: $headlineLh;
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 20px 0;
        color: $buttonTextColor;
    
        &--mod {
            background-color: $mainHeadlineColor;
        }
    }

    &__description {
        position: relative;
        padding-left: 28px;
        width: 280px;
        font-weight: 600;
        letter-spacing: -0.02em;
        color: $mainHeadlineColor;
        margin: 0 0 40px 0;
    
        &::before {
            display: inline-block;
            position: absolute;
            top: 7px;
            left: -6px;
            content: '';
            width: 20px;
            height: 3px;
            background-color: $headlineBgColor;
        }
    }

    &__sub-title {
        width: 370px;
        font-weight: 900;
        font-size: $mainFontSize;
        line-height: $mainLh;
        text-transform: uppercase;
        color: $mainHeadlineColor;
        margin: 0 0 26px 0;
    }

    &__opportunities-list {
        list-style: none;
        padding: 0 0 0 40px;
        margin: 0 ;
        counter-reset: item-count;
    }

    &__opportunity-item {
        position: relative;
        width: 286px;
        margin-bottom: 18px;
        counter-increment: item-count +001;
    
        &::before {
            display: block;
            position: absolute;
            content: '[ 00' counter(item-count) ' ]';
            left: -46px;
            top: 24px;
            width: 52px;
            font-weight: 800;
            line-height: 1.2;
            color: $buttonTextColor;
            text-align: center;
            background-color: $decorColor;
            transform: rotate(-90deg);
            padding: 0;
        }
    }

    &__opportunity-description1 {
        font-weight: 600;
        color: $mainHeadlineColor;
        margin: 0 0 8px 0;
    }

    &__opportunity-description2 {
        padding: 0 14px 0 0;
        margin: 0;
    }
}

/* ====================================================== */