@media (min-width: 1200px){
    .container{
        min-width: 1200px;
        padding: 0 36px;
    }
    .header{
        padding-top: 24px;
        padding-bottom: 108px;
    }

    .header__content{
        max-width: 714px;
        margin: 0 auto;
    }

    .nav{
        margin-bottom: 60px;
    }

    .header__title{
        font-size: 263px;
    }

    .decor-bg{
        display: none;
    }

    .decor-bg--desktop{
        display: block;
        position: absolute;
        background: url(../images/mans.png);
        width: 378px;
        height: 418px;
        bottom: -162px;
        right: 0;
        z-index: -1;
    }

    .section-content__main-txt--tablet{
        line-height: 19px;
    }

    .section-content__txt--tablet{
        line-height: 15px;
    }

    .header__number{
        left: 34px;
        bottom: 36px;
        font-size: 15px;
        letter-spacing: .75px;
    }

    .header__number-desktop{
        display: block;
        position: absolute;
        bottom: 30px;
        left: 66px;
        font-size: 9px;
        line-height: 12px;
        font-weight: 600;
        letter-spacing: 0.7px;
        color: #fff;
    }

    .social{
        display: none;

        &--desktop{
        display: block;
        position: absolute;
        bottom: 36px;
        right: 36px;
        }

        &__link:not(:last-child){
            margin-right: 16px;
        }
    }

    .button--header-desktop{
        padding: 0 21px;
        line-height: 30px;
    }
}