@media (min-width: 768px){
    .container{
        min-width: 768px;
        padding: 0 62px;
    }

    .header{
        padding-top: 22px;
        padding-bottom: 96px;
    }

    .nav{
        margin-bottom: 50px;
    }

    .header__title{
        font-size: 236px;
    }

    .main-wrap{
        display: flex;
        justify-content: space-between;
    }

    .section-content__main-headline--mobile{
        display: none;
    }

    .section-content__main-headline--tablet{
        margin: 0 0 30px 0;
        display: block;
        max-width: 390px;
        font-size: 45px;
        line-height: 56px;
        text-align: left;

        .headline__after{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                top: 50%;
                display: inline-block;
                width: 44px;
                height: 8px;
                background: #fff;
                margin-left: 22px;
            }
        }

        .headline__before{
            position: relative;
            margin-left: 80px;

            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: -80px;
                display: inline-block;
                width: 56px;
                height: 8px;
                background: #fff;
            }
        }
    }

    .section-content__main-txt{
        max-width: 180px;
        margin-bottom: 24px;
        font-weight: 800;
        margin-left: 56px;
        font-size: 8px;
        text-align: left;

        &::before{
            top: 5px;
            width: 6px;
            height: 6px;
            background: url(../images/arrow-left-tablet.png);
        }

        &::after{
            bottom: 4px;
            width: 12px;
            height: 10px;
            margin-left: 18px;
            background: url(../images/arrow-right-tablet.png);
        }
    }

    .header-content__right-wrap{
        padding-top: 10px;

        .section-content__main-txt--tablet{
            margin: 0 0 14px 0;
            max-width: 164px;
            font-size: 11px;
            line-height: 17px;
            font-weight: 900;
        }
        
        .section-content__txt{
            display: none;
        }

        .section-content__txt--tablet{
            display: block;
            margin: 0;
            max-width: 150px;
            font-size: 10px;
            line-height: 14px;
            color: #afb0b3;
            text-align: left;
        }
    }

    .decor-bg{
        position: absolute;
        background: url(../images/mans.png);
        width: 378px;
        height: 418px;
        bottom: 0;
        right: 62px;
        z-index: -1;
    }

    .button--header-tablet{
        display: block;
        padding: 0 14px;
        font-size: 7px;
        line-height: 28px;
    }
}

